body {
  text-align: center;
  padding: 20px;
}

.comparacion-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.btn-dark,
.btn-light {
  width: 40px;
  height: 40px;
  padding: 0;
}

.input-botones {
  width: 30%;
}

/* Establecer borde verde al enfocar el input */
.form-control:focus {
  border-color: green !important; /* Borde verde */
  box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.25); /* Añadir sombra verde suave */
}

/* Establecer borde verde al enfocar el input */
.form-control {
  border-color: #b3e6b3; /* Verde muy suave */
}

.custom-select {
  background-color: #32cd32; /* Verde más vistoso */
  color: white; /* Texto blanco */
  cursor: pointer; /* Cursor tipo puntero cuando el usuario pase por encima */
}

select {
  cursor: pointer;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */

/* estilos para acomodar el icono dentro de los input a la derecha */
.contenedor-icono {
  position: relative;
}

.contenedor-icono select {
  width: 100%;
  padding-right: 30px; /* Deja espacio para el icono */
  appearance: none; /* Elimina el estilo predeterminado del navegador */
  -webkit-appearance: none; /* Para navegadores Webkit */
  -moz-appearance: none; /* Para Firefox */
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Evita que el icono interfiera con la selección */
  color: white;
}
/* /////////////////////////////////////////////////////////////////////////////////////////// */

